@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic,lite&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,lite&subset=latin,latin-ext');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #3f3f3f;
}

hr {
  line-height: 0;
  width: 100%;
  border: 1px solid #ccc;
}

.app {
  margin: 15px auto;
  width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.error {
  display: flex;
  flex: 1 1 auto;
  border: 1px solid #600;
  background-color: #900;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0px 1px #333;
  justify-content: center;
}
