@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic,lite&subset=latin,latin-ext');

form {
  width: 100%
}

input[type=button] {
  width: 145px;
  background-image: linear-gradient(#d6d6d6, #b3b3b3);
  border-radius: 5px;
  color: #4a4a4a;
  font-weight: 700;
  border: 1px solid #979797;
  text-shadow: 0px 1px #fefefe;
  box-shadow: 0px 1px inset #fff;
  margin-left: 44px;
  margin-top: 5px;
}

.form-container {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 58px auto;
}

.form-input {
  display: inherit;
  flex-direction: column;
  text-align: left;
  width: 108px;
}

.form-input-label {
  font-size: 14px;
  font-weight: 100;
}

.zipcode-search {
  display: inherit;
  flex-direction: column;
}

